---
---

@import "{{ site.theme }}"; 

table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

a:link {
  color: black;
}

a:hover, a:focus {
  color:#069;
  font-weight: bold;
}

